* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: rgb(75, 213, 238);
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  /*font-weight: bold;*/
  font-size: 14px;
  color: #fff;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
  width: 50%;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}
/*blue text,*/
#skills-h3 {
  color: rgb(75, 213, 238);
  display: none;
}
/*next few css lines with 'project-entry' will be trying to get the projects to display horizontally across the div*/

/*to get rid of the 1st HTMLprojectStart div, it doesn't have data of any kide. as seen here: if (projects.projects.length > 0) {
  -----$('#projects').append(HTMLprojectStart); ------
  projects.projects.forEach(function(project) {*/
.project-entry.col-md-4:first-of-type {
  display: none;
}
/*increase the <p> width*/
.project-entry > p {
  width: 100%;
}

.project-entry {
  /*i have a huge problem with images. any images that aren't placekitten.com causes me hours of headaches. this is to keep the images from overflowing their div*/
  overflow: hidden;
  display: inline-block;
  float: none;
}



/*it's really blue text.*/
.orange-text {
  color: rgb(75, 213, 238);
}
/*it's really yellow text*/
.white-text {
  font-weight: bold;
  color: #ff6;
}

/*it's really a white background :D */
.gray {
  background-color: #fff;
  padding-bottom: 10px;
  clear:both;
}

.black {
  background-color: #000;
}

/*include to avoid navbar overlaying content*/
body {
  padding-top: 65px !important;
}
/*navigation menu */
.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  /*I wanted to make the links have the blue color, but it wouldn't work here with the {color: //} even tried '!important' too. no dice. so check out "a" */
  box-sizing: border-box;
  font-weight: bold;
  justify-content: space-around;
  width: 24%;
  text-align: center;
  text-transform: uppercase;
}
/*center the text in the dropdown hamburger menu*/
.navbar-nav {
  text-align: -webkit-center;
}

/*style to links--icons and text. */
a {
  /*why !important ? well, I tried to change the color of the links in the navbar, had no luck. so I thought this would override the bootstrap css.*/
  color: rgb(75, 213, 238) !important;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  font-weight: bolder;
}

/*a little transparency when mouse hovers over*/
a:hover {
  opacity: 0.5;
  /*override the navbar color, couldn't figure out another way.*/
  background-color: none !important;
}

/*black background*/
#header {
  background-color: #000;
  background-size: cover;
}
/*yellow to the role in #header*/
.header-role {
  color: #ff6;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.flex-item {
  display: table-cell;
}
.flex-column {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

/*footer text*/
.center-text {
   text-align: center;
   color: #ff6;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}


@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}


@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
